body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

h4 {
    color: #555;
}

p {
    color: #777;
}

.conversion,
.fahrenheit,
.Rumus {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.button {
    text-align: center;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
}

button:hover {
    background-color: #45a049;
}

.s {
    font-weight: bold;
    color: #4caf50;
}

.celcius,
.fahrenheit {
    margin-top: 20px;
}

h4 {
    color: #4caf50;
}
.errorName{
    color: red;
    margin: 0;
    font-style: italic;
    font-size: small;
}
